<dialog id="search-dialog" class="search-dialog">
  <div class="dialog-frame">
    <form>
      <div class="input-frame">
        <span class="icon icon-search"></span>
        <input class="search-input" type="text" placeholder="Search" />
        <input type="button" class="search-cancel" value="CANCEL" />
      </div>
      <div class="search-box">
        <div class="search-find">
          <p class="search-message"></p>
          <ol class="search-list">
          </ol>
          <input type="button" class="next-button" value="次を読み込む" />
        </div>
      </div>
    </form>
  </div>
</dialog>
