{{- $t := .Date }}
{{- with .GitInfo }}{{ if not .AuthorDate.IsZero }}{{ $t = .AuthorDate }}{{ end }}{{ end }}
<div class="page-meta">
  {{ if not $t.IsZero }}
    <span class="meta-item">
      <span class="icon icon-date" aria-hidden="true"></span>
      <time class="rel-time" datetime="{{ $t.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ $t.Format "2006-01-02 15:04" }}">{{ $t.Format "2006-01-02" }}</time>
    </span>
  {{ end }}
  {{ with .ReadingTime }}<span class="meta-item"><span class="icon icon-history" aria-hidden="true"></span>{{ i18n "ui.reading_time" (dict "min" .) }}</span>{{ end }}
  {{ $showEditLink := true }}
  {{ if isset site.Params "showeditlink" }}{{ $showEditLink = site.Params.showEditLink }}{{ end }}
  {{ if isset .Params "showeditlink" }}{{ $showEditLink = .Params.showEditLink }}{{ end }}
  {{ if and $showEditLink .File }}
    {{ with site.Params.editURL }}
      {{ $segments := slice }}
      {{ range split (replace $.File.Path "\\" "/") "/" }}{{ $segments = $segments | append (urls.PathEscape .) }}{{ end }}
      {{ $edit := printf "%s/%s" (strings.TrimSuffix "/" .) (delimit $segments "/") }}
      <a class="meta-item meta-link" href="{{ $edit }}" target="_blank" rel="noopener"><span class="icon icon-edit" aria-hidden="true"></span>{{ i18n "ui.edit_page" }}</a>
    {{ end }}
  {{ end }}
</div>
