<div class="sidebar-in">
  <div class="sidebar-mobile">
    {{ partial "search-button.html" . }}
  </div>

  {{ partial "section-menu.html" (dict "page" . "class" "sidebar-mobile sidebar-sections" "listClass" "topics" "linkClass" "topic" "icons" true) }}

  {{ partial "main-menu.html" (dict "page" . "class" "sidebar-mobile sidebar-nav" "linkClass" "sidebar-link") }}

  {{ if and (ne .Kind "404") (not .IsHome) (ne .Kind "term") }}
  {{ with .Page.FirstSection }}
    {{ partial "sidebar/tree.html" (dict "Node" . "Current" $.Page "Depth" 0) }}
  {{ end }}
  {{ end }}

  <div class="sidebar-mobile sidebar-foot">
    {{ partial "version-switch.html" . }}
    {{ partial "lang-switch.html" . }}
    <button class="icon-btn" data-theme-toggle aria-label="{{ i18n "ui.toggle_theme" }}" title="{{ i18n "ui.toggle_theme" }}">
      <span class="icon icon-brightness only-light" aria-hidden="true"></span>
      <span class="icon icon-light only-dark" aria-hidden="true"></span>
    </button>
  </div>
</div>
