{{- $ext := or (strings.HasPrefix .Destination "http://") (strings.HasPrefix .Destination "https://") -}}
{{- $same := and $ext (strings.Contains .Destination (urls.Parse site.BaseURL).Host) -}}
<a href="{{ .Destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if and $ext (not $same) }} target="_blank" rel="noopener noreferrer" class="ext-link"{{ end }}>{{ .Text | safeHTML }}{{ if and $ext (not $same) }}<span class="icon icon-link ext-mark" aria-hidden="true"></span>{{ end }}</a>
